#header{
    margin-top: -110px;
}

h1{
	font-family: 'Spirax', cursive;
	font-family: 'Lobster Two', cursive;
	padding-top: 40px;
	font-size:80px;
	color:#FFFFF0;
	margin-left: 330px;
	margin-top:25px;
}

.form-horizontal{
	width: 390px;
	margin-left: 240px;
}

.button{
	margin-left:170px;
}