#header{
    margin-top: -50px;
}

h1{
	font-family: 'Spirax', cursive;
	font-family: 'Lobster Two', cursive;
	padding-top: 40px;
	font-size:80px;
	color:#FFFFF0;
	margin-left: 360px;
	margin-top:25px;
}

.form-horizontal{
	width: 390px;
	margin-left: 240px;
    padding-top: 10px;
}

.button{
	margin-left:170px;
}

#ready{
	margin-left: 385px;
}

#msg{
	font-family: 'Lobster Two', cursive;
	font-size: 30px;
	color: black;
}

#footer{
    margin-top: 100px;
}

.modal {
    display:    none;
    top:        400px;
    left:       650px;
    height:     350px;
    width:      400px;
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/loading43.gif') 
                50% 50% 
                no-repeat;
}
.modal2 {
    display:    none;
    position:   absolute;
    top:        600;
    left:       550;
    height:     100%;
    width:      100%;
    background: rgba( 0, 0, 0, .4 ) 
                url('../img/loading43.gif')
                50% 50% 
                no-repeat;
}