
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pandorify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Pandorify</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <!--<li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <p>{{saved}}</p>
      <form class="form-horizontal" action="" method=post>
        <div class="control-group">
          <label class="control-label" for="pandoraUsername">Pandora Username</label>
          <div class="controls">
            <input type="text" name="pandoraUsername" id="pandoraUsername" placeholder="Pandora Username">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="pandoraPassword">Password</label>
          <div class="controls">
            <input type="password" name="pandoraPassword" id="pandoraPassword" placeholder="Password">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="spotifyUsername">Spotify Username</label>
          <div class="controls">
            <input type="text" name="spotifyUsername" id="spotifyUsername" placeholder="Spotify Username">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="spotifyPassword">Password</label>
          <div class="controls">
            <input type="password" name="spotifyPassword" id="spotifyPassword" placeholder="Password">
          </div>
        </div>
          
        <div class="control-group">
          <label class="control-label" for="email"> Email </label>
          <div class="controls">
            <input type="text" name="email" id="email" placeholder="Spotify Username">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">Pandorify</button>
          </div>
        </div>
      </form>
    </div> <!-- /container -->


  </body>
</html>
